USE [master]
GO
/****** Object:  Database [EcoEnergyBBDD]    Script Date: 28/03/2025 0:28:02 ******/
CREATE DATABASE [EcoEnergyBBDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcoEnergyBBDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EcoEnergyBBDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcoEnergyBBDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EcoEnergyBBDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoEnergyBBDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoEnergyBBDD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/03/2025 0:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergyIndicator]    Script Date: 28/03/2025 0:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergyIndicator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[PBEE_Hydroelectric] [float] NOT NULL,
	[PBEE_Coal] [float] NOT NULL,
	[PBEE_NaturalGas] [float] NOT NULL,
	[PBEE_FuelOil] [float] NOT NULL,
	[PBEE_CombinedCycle] [float] NOT NULL,
	[PBEE_Nuclear] [float] NOT NULL,
	[CDEEBC_GrossProduction] [float] NOT NULL,
	[CDEEBC_AuxConsumption] [float] NOT NULL,
	[CDEEBC_NetProduction] [float] NOT NULL,
	[CDEEBC_PumpConsumption] [float] NOT NULL,
	[CDEEBC_AvailableProduction] [float] NOT NULL,
	[CDEEBC_TotalNetworkSalesCentral] [float] NOT NULL,
	[CDEEBC_ElectricExchangeBalance] [float] NOT NULL,
	[CDEEBC_ElectricDemand] [float] NOT NULL,
	[CDEEBC_TotalRegulatedMarket] [float] NOT NULL,
	[CDEEBC_TotalFreeMarket] [float] NOT NULL,
	[FEE_Industry] [float] NULL,
	[FEE_Tertiary] [float] NULL,
	[FEE_Domestic] [float] NULL,
	[FEE_Primary] [float] NULL,
	[FEE_Energetic] [float] NULL,
	[FEEI_PublicWorksConsumption] [float] NULL,
	[FEEI_IronSteelFoundry] [float] NULL,
	[FEEI_Metallurgy] [float] NULL,
	[FEEI_GlassIndustry] [float] NULL,
	[FEEI_CementLimeGypsum] [float] NULL,
	[FEEI_OtherConstructionMaterials] [float] NULL,
	[FEEI_ChemicalPetrochemical] [float] NULL,
	[FEEI_TransportMediumConstruction] [float] NULL,
	[FEEI_OtherMetalTransformation] [float] NULL,
	[FEEI_FoodBeverageTobacco] [float] NULL,
	[FEEI_TextileClothingLeatherFootwear] [float] NULL,
	[FEEI_PulpPaperCardboard] [float] NULL,
	[FEEI_OtherIndustries] [float] NULL,
	[DGGN_FrontierPointEnagas] [float] NOT NULL,
	[DGGN_LNGDistributionSupply] [float] NOT NULL,
	[DGGN_ThermalPowerPlantGNCConsumption] [float] NOT NULL,
	[CCAC_AutoGasoline] [float] NOT NULL,
	[CCAC_AutoDieselA] [float] NOT NULL,
 CONSTRAINT [PK_EnergyIndicator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simulations]    Script Date: 28/03/2025 0:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Energy] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[Ratio] [float] NOT NULL,
	[Cost] [float] NOT NULL,
	[TotalCost] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_Simulations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaterConsumption]    Script Date: 28/03/2025 0:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaterConsumption](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
	[RegionName] [nvarchar](max) NOT NULL,
	[Population] [int] NOT NULL,
	[DomesticNET] [int] NOT NULL,
	[EconomicActivities] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[DomesticConsumption] [float] NOT NULL,
 CONSTRAINT [PK_WaterConsumption] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
