@page
@model EcoEnergyRazorBBDD.Pages.AddWaterConsumptionModel
@{
    ViewData["Title"] = "Add Water Consumption";
}
<h2>Add Water Consumption</h2>
<form method="post">
    <div class="form-text">
        <label asp-for="UserWaterConsumption.RegionID">
            Region ID:
            <input asp-for="UserWaterConsumption.RegionID" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.RegionID" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="UserWaterConsumption.RegionName">
            Region Name:
            <input asp-for="UserWaterConsumption.RegionName" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.RegionName" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="UserWaterConsumption.Year">
            Year:
            <input asp-for="UserWaterConsumption.Year" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.Year" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="UserWaterConsumption.Population">
            Population:
            <input asp-for="UserWaterConsumption.Population" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.Population" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="UserWaterConsumption.DomesticNET">
            Domestic Network Consumption:
            <input asp-for="UserWaterConsumption.DomesticNET" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.DomesticNET" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="UserWaterConsumption.EconomicActivities">
            Economic Activities Consumption:
            <input asp-for="UserWaterConsumption.EconomicActivities" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.EconomicActivities" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="UserWaterConsumption.Total">
            Total Consumption:
            <input asp-for="UserWaterConsumption.Total" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.Total" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="UserWaterConsumption.DomesticConsumption">
            Per Capita Domestic Consumption:
            <input asp-for="UserWaterConsumption.DomesticConsumption" class="form-control" />
            <span asp-validation-for="UserWaterConsumption.DomesticConsumption" class="text-danger"></span>
        </label>
    </div>
    <button type="submit" class="btn btn-primary" id="Submit">Add</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}