@page
@model EcoEnergyRazorBBDD.Pages.AddWaterConsumptionModel
@{
    ViewData["Title"] = "Add Water Consumption";
}
<h2>Add Water Consumption</h2>
<form method="post">
    <div class="form-text">
        <label asp-for="WaterConsumption.RegionID">
            Region ID:
            <input asp-for="WaterConsumption.RegionID" class="form-control" />
            <span asp-validation-for="WaterConsumption.RegionID" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="WaterConsumption.RegionName">
            Region Name:
            <input asp-for="WaterConsumption.RegionName" class="form-control" />
            <span asp-validation-for="WaterConsumption.RegionName" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="WaterConsumption.Year">
            Year:
            <input asp-for="WaterConsumption.Year" class="form-control" />
            <span asp-validation-for="WaterConsumption.Year" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="WaterConsumption.Population">
            Population:
            <input asp-for="WaterConsumption.Population" class="form-control" />
            <span asp-validation-for="WaterConsumption.Population" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="WaterConsumption.DomesticNET">
            Domestic Network Consumption:
            <input asp-for="WaterConsumption.DomesticNET" class="form-control" />
            <span asp-validation-for="WaterConsumption.DomesticNET" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="WaterConsumption.EconomicActivities">
            Economic Activities Consumption:
            <input asp-for="WaterConsumption.EconomicActivities" class="form-control" />
            <span asp-validation-for="WaterConsumption.EconomicActivities" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="WaterConsumption.Total">
            Total Consumption:
            <input asp-for="WaterConsumption.Total" class="form-control" />
            <span asp-validation-for="WaterConsumption.Total" class="text-danger"></span>
        </label>
    </div>
    <div class="form-text">
        <label asp-for="WaterConsumption.DomesticConsumption">
            Per Capita Domestic Consumption:
            <input asp-for="WaterConsumption.DomesticConsumption" class="form-control" />
            <span asp-validation-for="WaterConsumption.DomesticConsumption" class="text-danger"></span>
        </label>
    </div>
    <button type="submit" class="btn btn-primary" id="Submit">Add</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}