@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/Images/image.png" alt="" class="index_img" />
    <p class="font_title">EcoEnergy Solutions</p>
    <p class="font_subtitle">For a brighter future</p>
</div>
